<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">{{judul4}}
      <button class="btn pull-right" ui-toggle-class="button" ng-click="mainData=!mainData" ng-class="mainData ? 'btn-info' : 'btn-danger'">
          <span class="text">+| Data Baru</span>
          <span class="text-active">-| Close</span>
      </button>
  </h1>
</div>
<div class="wrapper-md">

  <div class="panel panel-default" ng-show="mainData">
    <div class="panel-heading">
      Data Tegangan
    </div>
    <div class="table-responsive">
      <table ui-options="dtOptions" class="table table-striped m-b-none datatable" ui-jq="dataTable">
        <thead>
          <tr>
            <th style="width:5%" class="text-center">No</th>
            <th style="width:20%">Nama Data</th>
            <th style="width:25%">Filename</th>
            <th style="width:10%">Arus Injeksi</th>
            <th style="width:15%">Tanggal Diambil</th>
            <th style="width:10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in dataTegangan">
            <td class="text-center">{{$index+1}}</td>
            <td>{{data.nama_data}}</td>
            <td>{{data.filename}}</td>
            <td>{{data.arus_injeksi}}</td>
            <td>{{data.datetime | date:'dd/MM/yyyy'}}</td>
            <td><a ui-sref="data.id({idData: data.nama_data, filename: data.filename})" class="btn btn-primary btn-rounded">Details</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="table-responsive">
      <table ui-jq="dataTable" ui-options="{
            sAjaxDataProp: JSON.stringify(dataTegangan),
            aoColumns: [
              { mData: 'nama_data' },
              { mData: 'filename' },
              { mData: 'arus_injeksi' },
              { mData: 'datetime' }
            ]
        }" class="table table-striped m-b-none">
        <thead>
            <tr>
              <th style="width:20%">Nama Data</th>
              <th style="width:25%">Filename</th>
              <th style="width:10%">Arus Injeksi</th>
              <th style="width:15%">Tanggal Diambil</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div> -->
  </div>



  <div class="col-md-12" ng-show="!mainData">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
              <form class="bs-example form-horizontal" ng-submit="saveData()">
                  <div class="form-group">
                  <label class="col-lg-2 control-label">Nama Data</label>
                      <div class="col-lg-10">
                          <input type="text" class="form-control" placeholder="Nama Data" ng-model="data.nama">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-lg-2 control-label">Arus Injeksi</label>
                      <div class="col-lg-10">
                          <input type="number" class="form-control" placeholder="Arus Injeksi" ng-model="data.arus">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-lg-2 control-label">File</label>
                      <div class="col-lg-10">
                          <input type="file" nv-file-select="" uploader="uploader" />
                      </div>
                  </div>

              </form>
            </div>
          </div>
        </div>

        <div class="col-md-8">
            <table class="table bg-white-only b-a">
          <thead>
              <tr>
                  <th width="50%">Nama File Data</th>
                  <th ng-show="uploader.isHTML5">Size</th>
                  <th ng-show="uploader.isHTML5">Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="item in uploader.queue">
                  <td><strong>{{ item.file.name }}</strong></td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                  <td ng-show="uploader.isHTML5">
                      <div class="progress progress-sm m-b-none m-t-xs">
                          <div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                      </div>
                  </td>
                  <td class="text-center">
                      <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                      <span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
                      <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                      <button type="button" class="btn btn-default btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                          Upload
                      </button>
                      <button type="button" class="btn btn-default btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                          Cancel
                      </button>
                      <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
                          Remove
                      </button>
                  </td>
              </tr>
          </tbody>
      </table>
      <div>
        <div>
          <p>Queue progress:</p>
          <div class="progress bg-light dker" style="">
              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <button type="button" class="btn btn-addon btn-success" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
          <i class="fa fa-arrow-circle-o-up"></i> Upload all
        </button>
        <button type="button" class="btn btn-addon btn-warning" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
          <i class="fa fa-ban"></i> Cancel all
        </button>
        <button type="button" class="btn btn-addon btn-danger" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
            <i class="fa fa-trash-o"></i> Remove all
        </button>
      </div>
        </div>
    </div>
</div>
