<div set-ng-animate="false">
    <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3 text-center">Galeri Citra Hasil Rekonstruksi</h1>
    </div>

    <div class="col-lg-6">
        <div class="panel-body col-md-10 col-md-offset-1">
                <carousel interval="myInterval">
                  <slide ng-repeat="image in dataImage" active="slide.active">
                        <h4 style="color: #000000">{{$index+1}}</h4>
                    <img ng-src="img/results/{{image.nama}}" class="img-full">
                    <div class="">
                      <h4 style="color: #000000">Citra {{image.nama_data}}</h4>
                      <div style="color: #000000">Algoritma {{image.nama_algor}}</div>
                      <div style="color: #000000">Kerapatan: {{image.kerapatan}}</div>
                    </div>
                  </slide>
                </carousel>
                <div class="panel-footer">
                  Interval: <input type="number" class="form-control w-sm inline" ng-model="myInterval"> ms
                </div>
        </div>
    </div>
<div class="wrapper-md">
    <div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Detail</div>
            <div class="list-group">
              <div class="list-group-item">
                Hahaha
              </div>
              <div class="list-group-item">
                Wkwkwk
              </div>
              <div class="list-group-item">
                Ckckckc
              </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
