<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3" ng-click="cobak()" ng-init="judul5='Rekonstruksi Citra'">{{judul5}}</h1>
</div>

<div class="wrapper-md">
  <div class="col-sm-6 col-md-offset-2">
  <alert class="text-center" ng-repeat="alert in alerts" type="{{alert.type}}" ng-hide="showImage">{{alert.msg}}</alert>
    <div class="row" ng-hide="loadImage || showImage">
        <form class="form-validation">
          <div class="panel panel-default">
            <div class="panel-body">
                <p class="text-muted">Masukkan atribut citra yang akan didapatkan</p>
              <div class="form-group">
                <label>Kerapatan <em class="text-muted">(0.01 s.d 0.9, optimal resolution: 0.05)&nbsp</em></label>:&nbsp{{valKerapatan}}
                     <div class="text-center"><input id="slider" ui-jq="slider" ui-options="kerapatanOp" class="slider slider-horizontal form-control text-center" type="text"/></div>
              </div>
              <div class="form-group">
                <label>Algoritma Rekonstruksi <em class="text-muted">(best: Back Projection)&nbsp</em>:</label>
                  <ui-select ng-model="valAlgor.selectedAlgor" theme="bootstrap">
                    <ui-select-match placeholder="Pilih algoritma rekonstruksi dalam list...">{{$select.selected.nama_algor}}</ui-select-match>
                    <ui-select-choices repeat="algor in dataAlgor | filter: $select.search" value="{{$select.selected.id_algor}}">
                      <div ng-bind-html="algor.id_algor | highlight: $select.search"></div>
                      <small ng-bind-html="algor.nama_algor | highlight: $select.search"></small>
                    </ui-select-choices>
                  </ui-select>
              </div>

              <div class="form-group">
                <label>Pilih Data:</label>
                  <ui-select ng-model="valData.selectedData" theme="bootstrap">
                    <ui-select-match placeholder="Pilih data yang telah diukur...">{{$select.selected.nama_data}}</ui-select-match>
                    <ui-select-choices repeat="data in dataUkur | filter: $select.search">
                      <div ng-bind-html="data.nama_data | highlight: $select.search"></div>
                      Arus Injeksi: <small ng-bind-html="data.arus_injeksi | highlight: $select.search"></small> mA
                    </ui-select-choices>
                  </ui-select>
              </div>
              <div class="form-group">
                  <div class="checkbox pull-right">
                      <label class="i-checks"><input type="checkbox" ng-init="colorbar=false" ng-model="colorbar"><i></i> Show Colorbar</label>
                </div>
              </div>
            </div>
            <footer class="panel-footer text-right bg-light lter">
              <button type="submit" class="btn btn-lg btn-success" ng-click="reconstruction()" ng-disabled='disableBtn'><i class="glyphicon glyphicon-fire"></i> Run</button>
            </footer>
          </div>
        </form>
    </div>
  </div>
</div>

<!-- Loading section -->
<div ng-show="loadImage">
    <div class="circle-inner-inner"></div>
    <div class="circle-inner"></div>
</div>


<!-- Hasil citra -->
<div class="col-md-12" ng-show="showImage">
    <div class="col-lg-6 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-body">
                <!-- <div class="pull-right"><a href="" ng-click="closeImage()" title="Close Image"><i class="fa fa-times"></i></a></div> -->
                <img ng-src="img/results/{{imageName}}" class="img-full">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">Detail Citra</div>
            <div class="list-group">
              <div class="list-group-item">
                Waktu eksekusi: {{waktu}} detik
              </div>
              <div class="list-group-item">
                Algoritma rekonstruksi: {{valAlgor.selectedAlgor.nama_algor}}
              </div>
              <div class="list-group-item">
                Data: {{valData.selectedData.nama_data}}
              </div>
              <div class="list-group-item">
                Filename: {{imageName}}
              </div>
              <div class="list-group-item">
                  <div class="text-center"</div>
                    <button class="btn btn-success" ng-click="closeImage()">Save Image</button>
                    <button class="btn btn-danger" ng-click="deleteImage()">Delete Image</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
