<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Jalankan Rekonstruksi Citra</h1>
</div>

<div class="wrapper-md">
  <div class="col-sm-6 col-md-offset-3" ng-hide="state">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
    <div class="row">
    <form class="form-validation">
      <div class="panel panel-default">
        <div class="panel-body">
            <p class="text-muted">Masukkan atribut citra yang akan didapatkan</p>
          <div class="form-group">
            <label>Kerapatan <em class="text-muted">(0.01 s.d 0.9)</em></label>
            <input type="text" class="form-control" ng-model="valKerapatan" value="0.1" required >
          </div>
          <div class="form-group">
            <label>Injeksi Arus</label>
            <input type="text" class="form-control" ng-model="valArus" value="7.5" required >
          </div>
          <div class="form-group pull-in clearfix">
            <div class="col-sm-6">
              <label>Pilih Data</label>
              <select ng-model="valData" class="form-control" required>
                  <option ng-repeat="data in dataUkur" value="{{data.alamat_data}}">{{data.nama_data}}</option>
             </select>
            </div>
            <div class="col-sm-6">
              <label>Pilih Algoritma Rekonstruksi</label>
              <select ng-model="valAlgor" class="form-control" required>
                   <option ng-repeat="algor in dataAlgor" value="{{algor.id_algor}}">{{algor.nama_algor}}</option>
             </select>
            </div>
          </div>
        </div>
        <footer class="panel-footer text-right bg-light lter">
                <div><span class="fa fa-time">{{waktu}}</div>
          <button type="submit" class="btn btn-lg btn-success" ng-click="reconstruction()" ng-disabled='disableBtn'><i class="glyphicon glyphicon-fire"></i> Run</button>
        </footer>
      </div>
    </form>
    </div>
  </div>
  </div>

<!-- Loading section -->
<div ng-show="state">
    <div class="circle-inner-inner"></div>
    <div class="circle-inner"></div>
</div>

<!-- Hasil citra -->
<div class="panel-body col-md-4 col-md-offset-4">
    <div class="row">

    </div>
</div>
